<?xml version="1.0"?>
<!--
/**
 * @category    Manners
 * @package     Manners_Widgets
 * @copyright   Copyright (c) David Manners (http://davidmanners.de/)
 */
-->
<config>
    <modules>
        <Manners_Widgets>
            <version>1.0.0</version>
        </Manners_Widgets>
    </modules>

    <global>
        <blocks>
            <manners_widgets>
                <class>Manners_Widgets_Block</class>
            </manners_widgets>
        </blocks>

        <helpers>
            <manners_widgets>
                <class>Manners_Widgets_Helper</class>
            </manners_widgets>
        </helpers>

        <models>
            <manners_widgets>
                <class>Manners_Widgets_Model</class>
            </manners_widgets>
        </models>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Manners_Widgets after="Mage_Adminhtml">Manners_Widgets_Adminhtml</Manners_Widgets>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <manners_widgets>
                    <file>manners/widgets.xml</file>
                </manners_widgets>
            </updates>
        </layout>
    </adminhtml>
</config>